body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fa0505;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fafafa;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}



#result p {
    font-size: 18px;
    margin: 10px 0;
}


/* علم الأهلي */
.flag {
    max-width: 60%;
    height: auto;
    margin-bottom: 0px;
    margin-top: auto;
}
